on:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

permissions: 
  contents: write

env:
  # https://github.com/nodejs/node/issues/47865
  CFLAGS: "-fno-ipa-icf"
  CXXFLAGS: "-fno-ipa-icf"

jobs:
  x86_64-glibc:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4
        with:
          repository: mmomtchev/node
          ref: napi-libnode

      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - run: |
          sudo apt-get update
          sudo apt-get install -y ninja-build \
                                  libbrotli-dev libc-ares-dev libnghttp2-dev libnghttp3-dev libngtcp2-dev libssl-dev zlib1g-dev

          
          export DATESTRING=$(date "+%Y-%m-%d")
          export COMMIT=$(git rev-parse --short=10 "$GITHUB_SHA")
          
          ./configure --shared --ninja --enable-lto --without-npm --without-corepack \
            --shared-brotli \
            --shared-cares \
            --shared-nghttp2 \
            --shared-nghttp3 \
            --shared-ngtcp2 \
            --shared-openssl \
            --openssl-use-def-ca-store \
            --shared-zlib

          make BUILDTYPE=Release -j$(nproc)
          strip out/Release/lib/libnode.so.* || true

      - uses: softprops/action-gh-release@v2
        with:
          tag_name: x86_64-glibc
          files: out/Release/lib/libnode.*
